<div class="all-items-container">
    <div class="panel panel-primary">
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Item name</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Active</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items | async">
                        <td>{{item.itemName}}</td>
                        <td><img src="{{item.image}}" width="100px" height="100px"></td>
                        <td class="description">{{item.description}}</td>
                        <td>{{item.active}}</td>
                        <td><button (click)="deleteItem(item.id)" class="btn btn-danger">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>