<div class="item-container">
    <div class="item-list">
        <div class="item">
            <img src="{{item?.image}}">
            <div class="info">
                <h3><strong>Name: </strong>{{item?.itemName}}</h3>
                <h3><strong>Description: </strong> {{item?.description}}</h3>
                <div *ngIf="item?.active!==false">
                    <button class="btn btn-info" [routerLink]="['/items',item?.id,'bids']">All bids</button>
                    <button class="btn btn-info" [routerLink]="['/items',item?.id,user?.id,'addBid']">Add bid</button>
                </div>
            </div>
        </div>
    </div>
</div>